<?xml version="1.0" encoding="utf-8"?>
<launch>
  <node pkg="img_publisher" type="publisher.py" name="img_publisher_0" />
  <include file="$(find darknet_ros)/launch/darknet_ros.launch" >
    <arg name="image" value="/image_raw_0" />
    <arg name="bounding_boxes" value="/darknet_ros/bounding_boxes_0" />
  </include>
  <include file="$(find starmap)launch/starmap.launch" />
</launch>
