<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="bagfile"   />
  <!-- play bag file -->
  <node pkg="rosbag" type="play" name="whuvid" args=" $(arg bagfile)" required="true">
  </node>
  <arg name="nodelet_manager" default="orcvio_nodelet_manager" />
  <node pkg="nodelet" type="nodelet" name="starmap"
        args="standalone starmap/Starmap"
        launch-prefix=""
        output="screen">
    <param name="image_topic" value="/camera/left/image_raw" />
    <param name="bbox_topic" value="/camera/left/tracked_bounding_boxes" />
    <param name="keypoint_topic" value="/starmap/keypoints" />
    <param name="starmap_model_path" value="$(find starmap)/models/model_cpu-jit.pth" />
    <param name="gpu_id" value="0" type="int" />
    <param name="visualize" value="false" type="bool" />
  </node>
</launch>
