[submodule "ros_wrapper/src/darknet_ros"]
	path = ros_wrapper/src/darknet_ros
	url = https://github.com/wecacuee/darknet_ros.git
	branch = wecacuee-yolov1-sort-ros-compat
[submodule "ros_wrapper/src/starmap_ros_msgs"]
	path = ros_wrapper/src/starmap_ros_msgs
	url = https://github.com/wecacuee/starmap_ros_msgs.git
	branch = master
[submodule "ros_wrapper/src/arl_unity_ros_orcvio_bridge"]
	path = ros_wrapper/src/arl_unity_ros_orcvio_bridge
	url = https://github.com/wecacuee/arl_unity_ros_orcvio_bridge.git
	branch = master
[submodule "ros_wrapper/src/catkin_simple"]
	path = ros_wrapper/src/catkin_simple
	url = https://github.com/catkin/catkin_simple.git
	branch = master

[submodule "ros_wrapper/src/StarMap/models"]
	path = ros_wrapper/src/StarMap/models
	url = https://github.com/wecacuee/StarMap-models.git
