<launch>

  <arg name="robot" default="orcvio_robot"/>
  <arg name="fixed_frame_id" default="world"/>

  <!-- bag parameters -->
  <arg name="path_bag" default="/media/erl/disk2/euroc/MH_01_easy.bag" />

  <!-- evaluation mode is used to compare the results of different flags -->
  <!-- <arg name="evaluation_mode" default="true" />   -->
  <arg name="evaluation_mode" default="false" />

  <!-- in evaluation mode, rviz should be turned off  -->
  <arg name="visualize_rviz" default="true" unless="$(arg evaluation_mode)"/>
  <arg name="visualize_rviz" value="false" if="$(arg evaluation_mode)" />

  <!-- System Manager Nodelet  -->
  <group ns="$(arg robot)">
    <node pkg="nodelet" type="nodelet" name="system"
      args='standalone orcvio/SystemNodelet'
      output="screen">

      <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>
      <param name="child_frame_id" value="odom"/>

      <remap from="~imu" to="/imu0"/>
      <remap from="~cam0_image" to="/cam0/image_raw"/>

    <param name="path_gt" type="string" value="$(find orcvio)/../../../eval_results/euroc_mav/V2_03_difficult.csv" />

      <param name="config_file_template" value="$(find orcvio)/../../../config/euroc.yaml"/>
      <param name="config_file" value="$(find orcvio)/../../../cache/euroc_exp.yaml"/>
      <param name="result_file" value="$(find orcvio)/../../../cache/temp_rmse.txt"/>

      <param name="load_groundtruth_flag" type="int" value="1"/>

      <param name="evaluation_mode_flag" type="int" value="1" if="$(arg evaluation_mode)"/>
      <param name="evaluation_mode_flag" type="int" value="0" unless="$(arg evaluation_mode)"/>

      <!-- in evaluation mode, these should be set  -->
      <!-- <param name="max_features_in_one_grid" type="int" value="1" /> -->
      <!-- <param name="use_larvio_flag" type="int" value="1" /> -->
    <param name="use_left_perturbation_flag" type="int" value="0" />

    </node>
  </group>

    <!-- play the dataset -->
    <node pkg="rosbag" type="play" name="rosbag" args="$(arg path_bag)" required="true"/>
    <!-- open rviz  -->
    <group if="$(arg visualize_rviz)" >
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find orcvio)/../../../ros_wrapper/src/orcvio/launch/rviz/orcvio_euroc.rviz" />
    </group>

</launch>